<article>
    <a href="/index.html">Accueil</a>
    <h2>{{ name }}</h2>
    <ul class="tags">
        {% for tag in tags %}
        <li>{{ tag  }}</li>
        {% endfor %}
    </ul>

    <p>{{ synopsis }}</p>

    <section>
        <h3>Ingrédients</h3>
        <table>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.qty }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <h3>Matériel</h3>
        <ul>
            {% for tool in tools %}
            <li>{{ tool }}</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h3>Étapes</h3>
        {% for step in steps %}
        <h4>{{ step.name }}</h4>
        <ul>
            {% for task in step.tasks %}
            <li>{{ task }}</li>
            {% endfor %}
        </ul>
        {% endfor %}

        {% if has_final_tasks %}
        <h4>Fin de la recette</h4>
        <ul>
            {% for task in final_tasks %}
            <li>{{ task  }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</article>
